<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JARDIS - Just A Rather Deep Intelligent System</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/css/freelancer.css" rel="stylesheet">
    <link href="../static/css/jardis.css" rel="stylesheet">
    <!-- <link href="css/freelancer.min.css" rel="stylesheet"> -->
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">JARDIS</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Demo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Replies</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <img class="img-fluid" src="../static/img/JARVIS_Logo.png" alt="" height="100" weight="100">
        <div class="intro-text">
          <span class="name">JARDIS</span>
          <hr class="star-light">
          <span class="skills">Just A Rather Deep Intelligent System with SQuAD dataset</span>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
      <div class="container">
        <h2 class="text-center">Demo</h2>
        <hr class="star-primary">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 shadow qa-container">
              <form class="qa-form">
                <div class="form-group">
                  <h4><label for="story">Story</label></h4>
                  <textarea class="form-control" id="story" rows="10" readonly></textarea>
                </div>
                <div class="form-group">
                  <h4>
                    <label for="question">Question</label>
                    <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                        data-placement="top" title="Use suggested question or type your own question"></i>
                  </h4>
                  <input class="form-control" id="question" autocomplete="off" spellcheck="false">
                </div>
                <div class="form-group">
                  <h4><label for="answer">Answer</label></h4>
                  <textarea class="form-control" id="answer" rows="5" readonly></textarea>
                </div>
                <br>
                <div class="text-center">
                  <button class="btn btn-primary" id="get_answer" type="submit">Predict</button>
                  <button class="btn btn-warning" id="get_story" type="submit">New story</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <h2 class="text-center">About</h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p>SQuAD 데이터 셋과 bAbI 데이터 셋과 텐서플로우와 케라스와 논문을 읽고 구현을 하고 따라하고 레이어를 추가해보고
              SQuAD 데이터 셋과 bAbI 데이터 셋과 텐서플로우와 케라스와 논문을 읽고 구현을 하고 따라하고 레이어를 추가해보고
              SQuAD 데이터 셋과 bAbI 데이터 셋과 텐서플로우와 케라스와 논문을 읽고 구현을 하고 따라하고 레이어를 추가해보고
              SQuAD 데이터 셋과 bAbI 데이터 셋과 텐서플로우와 케라스와 논문을 읽고
            </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p>SQuAD 데이터 셋과 bAbI 데이터 셋과 텐서플로우와 케라스와 논문을 읽고 구현을 하고 따라하고 레이어를 추가해보고
              SQuAD 데이터 셋과 bAbI 데이터 셋과 텐서플로우와 케라스와 논문을 읽고 구현을 하고 따라하고 레이어를 추가해보고
              SQuAD 데이터 셋과 bAbI 데이터 셋과 텐서플로우와 케라스와 논문을 읽고 구현을 하고 따라하고 레이어를 추가해보고
              SQuAD 데이터 셋과 bAbI 데이터 셋과 텐서플로우와 케라스와 논문을 읽고
            </p>
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <a href="https://github.com/eliceio/JARDIS" class="btn btn-lg btn-outline" target="_blank">
              <img src="../static/img/github.png" alt="github-logo" height="25" width="25" style="margin-bottom: 5px;">
              &nbsp;See our works
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Team Grid Section -->
    <section id="team">
      <div class="container">
        <h2 class="text-center">Team</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-12 portfolio-item">
            <div class="portfolio-link">
              <img class="img-fluid" src="../static/img/profile/Zaki.jpeg" alt="">
              <span style="position:absolute; color:white; font-size:45px; z-index:100">Zaki</span>
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link">
              <img class="img-fluid" src="../static/img/profile/Jaejun.jpeg" alt="">
              <span style="position:absolute; color:white; font-size:45px; z-index:100">Jaejun</span>
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link">
              <img class="img-fluid" src="../static/img/profile/Yujin.jpeg" alt="">
              <span style="position:absolute; color:white; font-size:45px; z-index:100">Yujin </span>
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link">
              <img class="img-fluid" src="../static/img/profile/Youngpyo.jpeg" alt="">
              <span style="position:absolute; color:white; font-size:45px; z-index:100">Youngpyo</span>
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link">
              <img class="img-fluid" src="../static/img/profile/Gyubin.jpg" alt="">
              <span style="position:absolute; color:white; font-size:45px; z-index:100">Gyubin</span>
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link">
              <img class="img-fluid" src="../static/img/profile/Junsik.png" alt="">
              <span style="position:absolute; color:white; font-size:45px; z-index:100">Junsik</span>
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link">
              <img class="img-fluid" src="../static/img/profile/Hyunho.jpeg" alt="">
              <span style="position:absolute; color:white; font-size:45px; z-index:100">Hyunho</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center">Replies</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div id="disqus_thread"></div>
              <script>
              /**
              *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
              *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
              /*
              var disqus_config = function () {
              this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              */
              (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://jardis.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3>Team</h3>
              <p><a href="https://github.com/eliceio/JARDIS" target="_blank">JARDIS</a>&nbsp;&nbsp;of&nbsp;&nbsp;<a href="https://ccei.elice.io/courses/83/">elice.io</a></p>
            </div>
            <div class="footer-col col-md-4">
              <h3>GitHub</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="https://github.com/eliceio/JARDIS" target="_blank">
                    <img src="../static/img/github-white.png" alt="github-logo" height="50" width="50">
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
              <h3>Main nav</h3>
              <p class="sitemap"><a class="nav-link js-scroll-trigger" href="#page-top">Home</a></p>
              <p class="sitemap"><a class="nav-link js-scroll-trigger" href="#portfolio">Demo</a></p>
              <p class="sitemap"><a class="nav-link js-scroll-trigger" href="#about">About</a></p>
              <p class="sitemap"><a class="nav-link js-scroll-trigger" href="#team">Team</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; JARDIS of <a href="https://ccei.elice.io/courses/83/">elice.io</a> 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/popper/popper.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/freelancer.js"></script>
    <script src="{{ url_for('static', filename='js/jardis.js') }}"></script>
  </body>

</html>
